.logo-container {
  text-align: center;
  margin-top: 10px;
  font-family: 'Times New Roman', serif;
  color: #000;
  align-content: center;
  justify-content: center;
}
.logo-image{
  height: 50px;
  width: auto;
  margin-left: auto;
  margin-right: auto;
}
/* Main title */
.logo-text {
  font-size: 11px;
  letter-spacing: 3px;
  font-weight: 300;
}

/* Subtitle */
.logo-subtext {
  font-size: 9px;
  letter-spacing: 1px;
}

/* Dot separator */
.dot {
  margin: 0 2px;
}
